<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    table, th, td {
      border: 1px solid grey;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }</style>
</head>
<body>
<h1>Invitation au rendez-vous  le <%= @invite.appointment.id %> de la home: <%= @invite.appointment.home.name %> </h1>
<div>
  <p><%= @invite.appointment.starts_at %></p>
  <p><%= @invite.appointment.ends_at %></p>
  <p><%= @invite.appointment.id %></p>

</div>
<div>
  <p>

    <%= link_to "Accepter l'invitation", invite_url( @invite,@token), class:"btn btn-success" %>
  </p>
  <p>
    À bientôt
  </p>
</div>
</body>
</html>