require 'pry'

<h1>Proprietors#show</h1>
<p id="notice"><%= notice %></p>
<p>
  <b>title:</b>
  <%= current_user.proprietor.name %>
</p>
<%= link_to 'Edit', edit_proprietor_path(current_user.proprietor.id) %> -
<%= link_to 'delete', proprietor_path(current_user.proprietor.id), method: :delete %>
<br>
<hr>
<br>
<h3>MAISON</h3>
    <%= link_to 'ajouter une Maison', new_proprietors_home_path%><br>
<!-- PROPRIETOR-->
<div>
 <% if @homes.present? %>
      <ul><% @homes.each do |home| %>
          <li>  Name: <%= home.name %></li><br>
          <li> <%= link_to 'Look ma homes', proprietors_home_path(home.id) %></li>
          <li> <%= link_to 'Edit ma homes', edit_proprietors_home_path(home.id) %></li>
          <li> <%= link_to 'look at a appointment',  proprietors_home_appointments_path(home.id)  %></li>
          <li> <%= link_to 'delete home',  proprietors_home_path(home.id), method: :delete, data: { confirm: 'Are you sure?' }   %></li>

          <hr>
        <% end %>
      </ul>
    <%end %>
</div>

<br>
<%= link_to 'proprietor', proprietors_home_appointments_path(@proprietor) %>
