<h1>Appointments#show</h1>
<h3><%= @appointment.id%></h3>

<p>starts_at: <%= @appointment.starts_at %></p>
<p>ends_at: <%= @appointment.ends_at %></p>
<p>weekly_recurring: <%= @appointment.weekly_recurring %></p>
<p>home_id: <%= @appointment.home_id %></p>
<p>tenant_id: <%= @appointment.tenant_id  %></p>


<%= link_to 'Espace homes',   proprietors_home_appointments_path %>



