
  <%= form_tag(home_appointments_path(@home), authenticity_token: true,  method: 'POST', multipart: true) do%>
    <div class="container form-group card-body text-primary">
      <div>
        <%= email_field_tag 'appointment[email]', '', class: ' form-control ', placeholder: 'Email'%>
      </div>
        <%= submit_tag "Inviter", class: " btn btn-success" %>
     </div>

  <%end %>

<%= simple_form_for [@home,@appointment], html: {class: 'horizontal_form container'} do |f| %>
    <%= f.input :kind, :as => :hidden, :input_html => { :value => "appointment" }%>
    <%= f.input :starts_at,as: :string, input_html: {id: "start_date"} %>
    <%= f.input :ends_at,as: :string, input_html: {id: "end_date"}%>
    <%= f.input :weekly_recurring, as: :boolean %>
  <%= f.button :submit, class: "btn-primary" %>
<%end %>

