Reservation <%= @home.name %>-ID:<%=@home.id  %>

require 'pry'
<p id="notice"><%= notice %></p>

<h1>Appointment #index</h1>

<table>
  <thead>
  <tr>
    <th>Appointment/th>
    <th colspan="2"></th>
  </tr>
  </thead>
<%=binding.pry %>
  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'new Home', new_home_appointment_path %><br/>
<%= link_to 'Landing page', root_path %>


