Reservation <%= @home.name %>-<%=@home.id  %>


<p id="notice"><%= notice %></p>

<h1>Appointment #index</h1>

<table>
  <thead>
  <tr>
    <th>Appointment/th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @appointments.each do |f| %>
    <tr>
      <td>__Name__</td>
    </tr>
    <tr>

      <td><%= f.tenant.name %></td>
      <td>
        <%= link_to 'Show', home_appointment_path(@home, f.id)%><br/>
        <%= link_to 'Edit',  edit_home_appointment_path(@home,f.id) %><br/>
        <%= link_to 'Destroy',  home_appointment_path(@home,f.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new Home', new_home_appointment_path %><br/>
<%= link_to 'Landing page', root_path %>


