<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <%= link_to'HomeLockup', root_path, class:"navbar-brand"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>

        <!-- DROP DOWN USER  -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
          </div>
         </li>
        <!-- END DROP DOWN USER END -->

        <% if !current_user.proprietor.nil? %>
          <!-- DROP DOWN PROPRIETOR  -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Escpace Proprietaire
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Espace le proprietaire', proprietor_path(@proprietor.id), class:"dropdown-item" %>
          <div class="dropdown-divider"></div>
            <%= link_to 'ajouter une Maison', new_proprietors_home_path, class:"dropdown-item" %>
          </div>
        <%else %>
          <li class="nav-item"> <%= link_to 'Cree le proprietaire', new_proprietor_path, class:"nav-link"%> </li>
        <%end %>
        <!-- END DROP DOWN PROPRIETOR END -->

        <!-- USER  -->
        <li class="nav-item"> <%= link_to 'Invitation', invites_path, class:"nav-link"%>  </li>


        <!-- NOT LOGIN   -->
    <% else %>
        <li class="nav-item"> <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %></li>
        <li class="nav-item"> <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %></li>
      <% end %>

    </ul>
  </div>
</nav>