<!DOCTYPE html>
<html>
  <head>
    <title>Homelockup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

  <body>
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/error' %>

      <% if current_page?(root_url) %>
         <%= yield %>
         <%=  render 'layouts/footer' %>
      <%else %>
        <div class="container">
          <%= yield %>
        </div>
          <%=  render 'layouts/footer2' %>
       <% end %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
